

h2
{
	color:beige;
	font-family: Arial;
	
}
table
{
	bgcolor:#2a2c2b;
	border-color:green;
}
.experience
{
color:teal;
font-family: Arial;
}

.education
{
color:teal;
font-family: Arial;
}

.contact
{
color:teal;
font-family: Arial;
}

.portfolio
{
	color:beige;
	font-family:Arial;
}